
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#top-head{
    padding: 12px;
    font-size: 25px;
}

header{
    background-color: #232f3e;
    height: 60px;
    /* width: auto; */
    display: flex;
    flex-direction: row;

}

.search{
    position: relative;
    left: 285px;
    bottom: 56px;
    width: 50%;
}

.fa-search {
    content: "\f002";
    float: left;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 420px;
    bottom: 0px;
    background-color:  rgb(214, 88, 29);
}

input:hover{
    border:3px solid rgb(255, 94, 0);
   
}

#location{
    padding: 6px;
    color: white;
    font-weight: bold;
}

#para1{
    position: relative;
    left: 18px;
    display: block;
}
#marker{
    position: relative;
    bottom: 8px;
    size: 12;
    
}

span{
    color: white;
    font-weight: bold;
}
#top-head:hover{
    border: 2px solid white;
}


.locationDropdown {
        display: block;
        position: relative;
        left: 170px;
        bottom: 25px;
        height: 30px;
        background-color: #eaeaea;
    }





